:root {
  --ifm-color-primary: #1d1d1f;
  --ifm-color-primary-dark: #1a1a1c;
  --ifm-color-primary-darker: #19191a;
  --ifm-color-primary-darkest: #141416;
  --ifm-color-primary-light: #202022;
  --ifm-color-primary-lighter: #212124;
  --ifm-color-primary-lightest: #262628;
  --ifm-link-color: #0066cc;
}

[data-theme="dark"] {
  --ifm-color-primary: #f5f5f7;
  --ifm-color-primary-dark: #dadae1;
  --ifm-color-primary-darker: #ccccd6;
  --ifm-color-primary-darkest: #a3a3b5;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-link-color: #2997ff;
}

html {
  scroll-behavior: smooth;
  font-family:
    SF Pro Display,
    SF Pro Icons,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

.hidden {
  visibility: hidden !important;
}

.hide {
  display: none !important;
  background-color: red;
}

/*
Big O
 */
code {
  &.horrible {
    background-color: #ff8989;
  }

  &.bad {
    background-color: #ffc543;
  }

  &.fair {
    background-color: #ffff00;
  }

  &.good {
    background-color: #c8ea00;
  }

  &.excellent {
    background-color: #53d000;
  }
}

/*
Image size
 */

p:has(> img) {
  display: flex;
  justify-content: center;

  & > img {
    flex-basis: fit-content;
  }
}

/*
Vertical tabs
*/
.tabs-container:has(> ul > li.tabs__vertical) {
  display: flex;

  & > ul {
    flex-shrink: 0;
    flex-direction: column;
    margin-right: 1em;

    & + .margin-top--md {
      width: 100%;
    }

    & > li {
      border-bottom: 0;
      border-top: 0;
      border-top-right-radius: 0;

      &.tabs__item--active {
        border-right: 2px solid transparent;
        border-right-color: var(--ifm-color-primary);
      }
    }
  }
}

/*
Logo
*/

.tabs:has(> .code_lang) {
  margin-top: 1em;

  & > li {
    margin-right: 1em;
  }
}

.code_lang {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &.go {
    background-image: url("@site/static/img/lang/go.svg");
  }

  &.java {
    background-image: url("@site/static/img/lang/java.svg");
  }

  &.js {
    background-image: url("@site/static/img/lang/js.svg");
  }

  &.kotlin {
    background-image: url("@site/static/img/lang/kotlin.svg");
  }

  &.python {
    background-image: url("@site/static/img/lang/python.svg");
  }

  &.rust {
    background-image: url("@site/static/img/lang/rust.svg");
  }

  &.scala {
    background-image: url("@site/static/img/lang/scala.svg");
  }

  &.ts {
    background-image: url("@site/static/img/lang/ts.svg");
  }

  &.s {
    width: 32px;
    height: 32px;
  }

  &.m {
    width: 64px;
    height: 64px;
  }
}

/*
Image size
*/

div.img {
  display: inline-block;

  & > img {
    width: auto;
  }

  &.s > img {
    height: 1.5em;
  }

  &.m > img {
    height: 2em;
  }

  &.l > img {
    height: 3em;
  }
}

/*
Home Page main text
*/
.text__main {
  font-family: "Poppings", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: var(--ifm-color-primary);
  font-size: 4em;
  text-align: center;
  text-decoration: none;
  outline: none;
}

/*
Sticky Table Column
*/
table.sticky {
  &.column {
    tr > td:first-child {
      position: sticky;
      top: 0;
      left: 0;
    }
  }
}

html:is([data-theme="light"]) {
  table.sticky {
    &.column {
      tr:nth-child(even) > td:first-child {
        background: #f8f8f8;
      }

      tr:nth-child(odd) > td:first-child {
        background: #ffffff;
      }
    }
  }
}

html:is([data-theme="dark"]) {
  table.sticky {
    &.column {
      tr:nth-child(even) > td:first-child {
        background: #2b2b2b;
      }

      tr:nth-child(odd) > td:first-child {
        background: #1b1b1b;
      }
    }
  }
}

/*
copy
*/

.copy {
  &:hover {
    color: #fff !important;
    background-color: #1677ff !important;
    transition: all 0.3s ease-in-out;
  }

  &:focus {
    outline: none;
    border: none;
  }
}

/*
antd
*/

.ant-descriptions-view > table,
.ant-table-header > table {
  margin-bottom: 0;
}

.vertical_top table {
  & > tbody > tr > td {
    vertical-align: top;
  }
}

table.ant-picker-content {
  display: table;

  & > thead {
    background-color: transparent;

    & > tr {
      border: none;
      background-color: transparent;

      & > th {
        border: none;
      }
    }
  }

  & > tbody > tr {
    border: none;
    background-color: transparent;

    & > td {
      border: none;
    }
  }
}
